{%  extends "app/base.html" %}

{% load static %}

{% block body %}

<link rel="stylesheet" type="text/css" href="{% static 'exlog_app/base.css' %}">
{% block stylesheets %}{% endblock stylesheets %}

<main role="main" class="container">
  <div class="row justify-content-md-center">

    <!-- Sidebar -->
    <div class="col-md-8">
      <div class="content-section">
        <h2 class="mt-1 text-center"><b>Добро пожаловать в Журнал Упражнений FitTrack!</b></h2>
        <h5 class="mt-3 text-center">Нажмите кнопку ниже, чтобы добавить свой первый Журнал Упражнений</h5>
          <p class="text-center text-muted">Сначала попробуйте создать свою тренировку! Просто перейдите на вкладку упражнений и нажмите «Добавить в сегодняшнюю тренировку», затем вернитесь сюда, чтобы записать свои подходы.</p>

          <!-- ListView for all workout logs under the current logged in user-->
        <div class="col text-center">
            <a href="/exlog/log/new/">
                <Button class="mt-3 btn btn-success btn-lg ">Начните отслеживать свои тренировки!</Button>
            </a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock body %}
