{%  extends "app/base.html" %}
{% load static %}
{% block style %}
    .title{
        font-size: 5vmax;
    }
    .header{
        position: relative;
        text-align: center;
        padding: 2vmin;
        margin: auto;
    }
    .mid {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .boxes{
        padding: 5%;
    }
    .header-img{
        filter: brightness(30%);
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .header-text{
        color: white;
        position: absolute;
        max-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .subtitle{
        font-size: 2vmax;
    }
    .box1 {
        display: inline-block;
        background-color: #e7e7e9;
        padding: 1%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box1-img{
        display: flex;
        float: left;
        margin-right: 10%;
    }
    .box2-img{
        display: flex;
        float: right;
        margin-left: 10%;
    }
    .box2{
        background-color: #9cf3fd;
        display: inline-block;
        padding: 1%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box3{
        display: inline-block;
        background-color: #e7e7e9;
        padding: 1%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box4{
        background-color: #9cf3fd;
        display: inline-block;
        padding: 1%;
        margin-bottom: 1%;
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .box-img{
        height: 325px;
        width: 440px;
    }
    .btn-default{
        float: center;
        color: white;
        border-color: white;
        margin-top: 50px;
    }
    .btn-default:hover{
        color: black;
        border-color: black;
        background: white;
    }
    .footer{
        width: 100%;
        height: 150px;
        background-color: #61605c;
        text-align: center;
    }
    .logo-footer{
        padding: 30px 0 15px 0;
        height: 100px;
        width: auto;
    }
    @media screen and (max-width: 780px){
        .box1-img{
            float: none;
            margin-right: 0;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .box2-img{
            float: none;
            margin-left: 0;
            justify-content: center;
            margin-top: 5%;
            margin-bottom: 5%;
        }
    }
{% endblock style %}
{% block body %}
    <div class="header">
        {% for message in messages %}
            <div class="alert alert-success fade">{{ message }}</div>
        {% endfor %}
        <img src="{% static 'fitness.jpg' %}" class="header-img">
        <div class="header-text">

            <h3 class="subtitle">ActivityWatch помогает сохранять мотивацию и придерживаться тренировочного режима и плана питания..</h3>
            {% if user.is_authenticated %}
                <a href={% url 'app:exercises' %}>
                    <Button class="btn btn-default btn-lg">Начать</Button>
                </a>
            {% else %}
                <a href={% url 'app:login' %}>
                    <Button class="btn btn-default btn-lg">Начать</Button>
                </a>
            {% endif %}
        </div>

    </div>
    <div class="boxes">
        <div class="box1">
            <div class="box1-img">
                <img src="{%  static 'box1img.png' %}" class="box-img">
            </div>
            <h2 style="margin-top: 50px;">Найди упражнения</h2>
            <p style="margin-right: 8%;">
                Найди лучшие упражнения, подходящие именно тебе, с помощью нашего инструмента поиска.
                Составь идеальную тренировку, просматривая библиотеку упражнений или выбирая
                по группам мышц.
            </p>
        </div>
        <div class="box2">
            <div class="box2-img">
                <img src="{%  static 'box2img.png' %}" class="box-img">
            </div>
            <h2 style="margin-top: 50px; margin-left: 8%;">Отслеживайте программы тренировок</h2>
            <p style="margin-left: 8%;">
                Записывайте свои тренировки в наш журнал упражнений. Вы можете отслеживать
                количество подходов, которые вы делаете, количество повторений и вес.
            </p>
        </div>
        <div class="box3">
            <div class="box1-img">
                <img src="{%  static 'box3img.png' %}" class="box-img">
            </div>
            <h2 style="margin-top: 50px;">Журнал истории веса</h2>
            <p style="margin-right: 10%;">
                С нашим трекером веса вы сможете достичь своей цели по весу и
                поддерживать ее. Вы сможете просмотреть историю своего веса и
                наслаждаться улучшением с течением времени.
            </p>
        </div>
        <div class="box4">
            <div class="box2-img">
                <img src="{%  static 'box4img.png' %}" class="box-img">
            </div>
            <h2 style="margin-top: 50px; margin-left: 8%;">Отслеживайте потребление калорий</h2>
            <p style="margin-left: 8%;">
                Наш дневник питания позволяет вам записывать, сколько калорий вы потребляете в течение
                дня. Он позволяет вам отслеживать пищу, которую вы едите,
                ее краткое описание и количество калорий, которые она содержит.
            </p>
        </div>
        <div class="box3">
            <div class="box1-img">
                <img src="{%  static 'box5img.png' %}" class="box-img">
            </div>
            <h2 style="margin-top: 50px;">Посмотреть результаты</h2>
            <p style="margin-right: 10%;">
                Наша страница результатов позволяет вам легко визуализировать свой прогресс с течением времени, помогая вам сохранять мотивацию и сосредоточиться на своих фитнес-целях.             </p>
        </div>
    </div>

{% endblock body %}
